/* @charset "UTF-8"; */
#app {
    background-color: #eef7fa;
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif" !important;
    letter-spacing: 0.1em;
}

input:focus,
select:focus
textarea:focus
 {
    outline: solid 2px #54e0e9;
}


* a {
    color: rgba(51, 51, 51, 0.831);
    text-decoration: none;
}

.btn_option {
    transition: opacity 0.3s;
}
.btn_option:hover {
    opacity: 0.7;
    cursor: pointer;
}

.side_menu {
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #7ac8e4, #54e0e9);
    width: 16.7%;
    height: 100vh;
    text-align: center;
}

.side_wrapper {
    width: 75%;
    margin: 0 auto;
    font-weight: bold;
}

.img_logo {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 40px;
    position: relative;
}
.img_logo img {
    width: 100%;
}
.img_logo::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    width: 90%;
    bottom: 0;
    height: 2px;
    right: 0;
    left: 0;
    background: #a4e4ed;
}

.btn_new {
    width: 100%;
    color: #fff;
    font-size: 15px;
    background: linear-gradient(90deg, #ffd56c, #ffba31);
    box-shadow: 0 0 14px #46add2;
    border-radius: 4px;
    padding: 16px 0;
    display: inline-block;
    margin-top: 40px;
    letter-spacing: 0.1em;
}

.fa-plus {
    margin-right: 4px;
    font-size: 13px;
}

.fa-home {
    margin-right: 4px;
    font-size: 15px;
}

nav > ul a {
    font-size: 15px;
    display: block;
    margin-top: 28px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1em;
}
nav > ul {
    padding-left: 0;
}

nav > ul a:hover {
    color: #fff;
}

.img_dec {
    width: 95%;
    margin-top: 108px;
    float: right;
}

main {
    position: relative;
    float: right;
    width: 83.3%;
    height: 100vh;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 83.3%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(82, 182, 218, 0.21);
}
.search_wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.search {
    display: flex;
    margin: 0px 24px 0 0;
    padding: 0 20px 0 28px;
    width: 26.55%;
    height: 48px;
    border-radius: 999px;
    background: #f0f0f0;
    z-index: 100;
    justify-content: space-between;
}
 input{
    border: none;
    vertical-align: middle;
    background-color: #d1cfcf;
    font-size: 16px;
    border-radius: 999px;
}
.search > input::-moz-placeholder {
    color: #878787;
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
}
.search > input:-ms-input-placeholder {
    color: #878787;
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
}
.search > input::placeholder {
    color: #878787;
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
}
.search > input:focus {
    outline: none;
}

.fa-search {
    color: #bababa;
    font-size: 18px;
}

.filter {
    font-size: 12px;
    color:#7ac8e4 ;
    float: right;
    margin-right: 40px;
    margin-top: 4px;
}

.filter:hover{
    cursor: pointer;
}

.filter_list {
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 20%;
    right: 0;
    border-left: #ebebeb 0.5px solid;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 200;
}

.cover{
    background-color: #000;
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    z-index: -1;
}

.show{
    opacity: 0.5;
    z-index: 100;
}

.filter_list.open{
    transform: translateX(0);
}

.filter_group {
    margin: 0 auto 24px;
    /* display: flex; */
    width: 78%;
    flex-direction: column;
}
.filter_group > label {
    display: block;
}
.filter_group > input{
    padding-left: 16px;
    border-radius: 8px;
    background-color: rgb(227, 227, 227);
}

input[type="radio"]{
    margin-right: 4px;
    margin-left: 4px;
}

.filter_btn {
    width: 180px;
    margin: 64px auto 0;
    height: 36px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    background: linear-gradient(90deg, #ffd56c, #ffba31);
    box-shadow: 0 0 2px #c4c4c4;
}
.filter_form {
    margin-top: 40px;
}
.back {
    background-color: #7ac8e4;
    width: 50px;
    height: 50px;
    border-radius: 0px 8px 8px 0;
    margin-top: 16px;
    margin-left: -1px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}



.main_wrapper {
    width: 93%;
    margin: 120px auto 0;
}

.new_wrapper {
    width: 93%;
    margin: 94px auto 0;
}



.sum_number {
    margin-left: 20px;
    margin-bottom: 16px;
    color: #b8b8b8;
}

.main_content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(82, 182, 218, 0.21);
    padding: 0 32px;
    border-radius: 8px;
    margin-bottom: 56px;
    padding-bottom: 4px;
}

tr {
    width: 100%;
    vertical-align: middle;
}

table {
    font-size: 14px;
    letter-spacing: 0em;
}

th {
    letter-spacing: 0em;
    font-weight: normal;
    color: #52b6da;
    text-align: left;
    padding: 20px 0;
    /* width: 5%; */
}
th:first-child {
    padding-left: 24px;
}

td {
    padding: 15px 0;
    width: 5%;
    border-top: 2px solid #eee;
}
td,th:first-child {
    width: 80px;
}
td:first-child{
    padding-left: 24px;
}

th:last-child {
    margin-left:64px;
    padding-left: 24px;
}
td,th:nth-of-type(2) {
    width: 4%;
    padding-left: 0;
    padding-right: 8px;
}
td:nth-of-type(5) {
    width: 6%;
}
th:nth-of-type(5) {
    width: 4%;
}
td:nth-of-type(6) {
    padding-left: 24px;
}

button {
    font-family: inherit;
    font-size: 100%;
    border: none;
}

.btn {
    width: 64px;
    padding: 9px 0;
    border-radius: 8px;
    background-color: rgba(225, 145, 145, 0.564);
    text-align: center;
    font-weight: bold;
    border: none;
    margin-right: 8px;
}

.delete_btn {
    color: #ee8485;
    background-color: #faeded;
}

.edit_btn {
    color: #52b6da;
    background-color: #edf7fa;
}

.progress_btn{
    color: #ffba31;
    background-color: #ffefc8;
}

.pagers {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    padding-bottom: 84px;
}

.pager {
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    margin-right: 10px;
    color: #bdbdbd;
}
.pager.active {
    background-color: #ffcf5f;
    color: #fff;
}

.next {
    line-height: 40px;
    color: #bdbdbd;
}

.signup_content {
    padding: 36px;
}
.signup_content h2 {
    color: #c2c2c2;
    letter-spacing: 0.3em;
    font-size: 24px;
    padding: 0 0 20px 4px;
    border-bottom: #ebebeb 0.5px solid;
}

form {
    width: 98%;
    margin: 32px auto 0;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0em;
    justify-content: space-between;
}

.destroy {
    margin: 0;
}

.btn_group {
    display: flex;
}

.form_parts {
    width: 100%;
    font-size: 15px;
    padding: 16px 20px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
    margin-top: 7px;
}
.form_parts::-moz-placeholder {
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
    color: #808080;
    font-size: 15px;
}
.form_parts:-ms-input-placeholder {
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
    color: #808080;
    font-size: 15px;
}
.form_parts::placeholder {
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
    color: #808080;
    font-size: 15px;
}

select {
    color: #bdbdbd;
    padding: 16px 20px;
    font-family: "游ゴシック", "YuGothic", "Meiryo", "メイリオ", "Lucida Grande",
        "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "sans-serif";
}

label {
    color: #52b6da;
    padding-left: 10px;
}

.form_name {
    width: 40%;
}

.form_age {
    width: 14%;
}

.form_birth {
    width: 40%;
}

.form_mail {
    width: 100%;
}

.form_tel {
    width: 60%;
}

.form_plan {
    width: 48.5%;
}
.form_title {
    width: 40%;
}
.form_content {
    width: 80%;
}

.signup_btn {
    display: block;
    width: 400px;
    height: 70px;
    line-height: 70px;
    background-color: #333;
    margin: 56px auto 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(90deg, #ffd56c, #ffba31);
    border-radius: 999px;
    letter-spacing: 0.1em;
    font-weight: bold;
    letter-spacing: 0.4em;
    border: none;
}
.error {
    color: red;
    font-size: 10px;
    margin-bottom: 8px;
    margin-top: -8px;
}

.big_plus {
    font-size: 16px;
    margin: 0;
} /*# sourceMappingURL=style.css.map */

/* アラート */

.alert-danger {
    width: 100%;
    height: 64px;
     border-radius: 8px;
     text-align: center;
     line-height: 64px;
     color: rgb(112, 57, 57);
     font-size: 18px;
    background-color: rgba(255, 120, 120, 0.7);
    margin-bottom: 10px;
}
.alert-danger > span {
    cursor: pointer;
}

/* 進捗報告 */
.new_posts{
    background-color: rgb(255, 0, 0);
    display: inline-block;
    padding: 16px 24px;
    color: #fff;
    background: linear-gradient(90deg, #ffd56c, #ffba31);
    border-radius: 16px;
    position: absolute;
    top: 24px;
    right: 40px;
}

textarea {
    background: #f0f0f0;
    margin: 0 auto;
    height: 200px;
}

/* csvダウンロード */
.csv-downloader {
    position: fixed;
    background-color: #fff;
    width: 500px;
    height: 250px;
    /* border: #000 1px solid; */
    border-radius: 8px;
    margin-top: 80px;
    margin-left: 300px;
    display: none;
    z-index: 300;
}

.popup{
    display: block;
}
.csv-downloader input[type="text"] {
    height: 48px;
    width: 90%;
    margin-right: 4px;
    border-radius: 8px;
    padding: 0 0 0 16px;

}

.csv-downloader input[type="submit"] {
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: #ffd56c;
    font-weight: bold;
    position: absolute;
    right: 24px;
    bottom: 30px;
}

.csv-downloader span {
    display: block;
    color: #878787;
    font-size: 24px;
    font-weight: bold;
    margin-top: auto;
}

.csv-downloader .back {
    margin-right: 100px;
    margin-left: -5px;
    margin-bottom: 24px;
}

.csv-downloader form {
    margin-top: 0;
}

.input_filename {
    display: flex;
    margin: 0 auto;
    width: 90%;
}
.input_filename > input {
  background-color: rgb(226, 226, 226);
}

#csv{
    color: #fff;
    position: absolute;
    display: inline-block;
    background-color: #b8b8b8;
    padding: 16px;
    margin: 16px 24px;
    border-radius: 8px;
}
